## Pobranie danych z portalu Indeed.com za pomocą Web Scraping

Celem zadania było pobranie danych z portalu Indeed.com, publikującego oferty pracy. Pobrane dane dotyczą ofert pracy z zakresu data science dla rynku w Wielkiej Brytanii. W tym celu skorzystano z angielskiej wersji strony.

In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Stworzenie list w celu przechowywania wybranych informacji o ofertach
jobs=[]
companies=[]
location=[]
salary=[]
summary=[]

for page in range(0, 300, 10):   
    url = 'https://www.indeed.co.uk/jobs?q=Data+Scientist&l=United+Kingdom&start='+str(page)
    req = requests.get(url)
    soup = BeautifulSoup(req.text, "html.parser")
    for div in soup.findAll("div", attrs={"class":"jobsearch-SerpJobCard unifiedRow row result"}):
        for a in div.findAll(name="a",attrs={"data-tn-element":"jobTitle"}):
            jobs.append(a["title"])   
        company = soup.findAll(name="span", attrs={"class": "company"})
        for b in company:
            companies.append(b.text.strip())
        c = soup.findAll("span", attrs={"class": "location"})
        for span in c:
            location.append(span.text)
        d = soup.findAll("div",attrs={"class":"summary"})
        for div in d:
            summary.append(div.text.strip())
        try:
            salary.append(div.find("span",attrs={"class":"salary no-wrap"}).text.strip())
        except:
            salary.append("Brak danych")

In [3]:
# Stworzenie dataframe z odpowiednimi kolumnami oraz dodanie danych z list
sample_df=pd.DataFrame(list(zip(jobs, companies, location, salary, summary)),columns=['Nazwa stanowiska', 'Nazwa firmy', 'Lokalizacja', 'Wynagrodzenie', 'Opis stanowiska']).drop_duplicates()
sample_df

,Nazwa stanowiska,Nazwa firmy,Lokalizacja,Wynagrodzenie,Opis stanowiska
0,Data Scientist,Indeed Prime,Manchester,Brak danych,Indeed Prime is a free service that connects q...
1,Data Scientist,Williams Lea,London SE1,Brak danych,Data Scientist. Williams Lea seeks a Data Scie...
2,Data Scientist at Oxford AI startup,DeepReason.ai,Glasgow,Brak danych,Data Science:. You are a motivated data scient...
3,Data Scientist - Wind Energy,Oldbaum Services Ltd,United Kingdom,Brak danych,"Data analysis, data collection, report writing..."
4,Data Scientist,The University of Manchester,United Kingdom,Brak danych,The role of Data Scientist will involve assess...
5,Data Scientist and Analyst,Public Health England,West Yorkshire,Brak danych,Data Scientist and Analyst. Public Health Data...
6,Data Scientist,Morgan Stanley,London,Brak danych,Ability to work with data including rapid prot...
7,Junior Data Scientist,REPLY,Birkenhead,Brak danych,"As a Data Scientist within Alpha Reply, you wi..."
8,Data Scientist,REPLY,Glasgow,Brak danych,"As a Data Scientist within Alpha Reply, you wi..."
9,Junior Data Scientist,Pro-Quest Resourcing,Norwich,Brak danych,They are recruiting for a Junior Data Scientis...
10,Data Scientist,Lloyds Banking Group,Manchester,Brak danych,And in joining as a Data Scientist in the Appl...
11,Graduate Data Scientist,Crowder Consulting,London SE1,Brak danych,Graduate Data Scientist. All applications for ...
12,Data Scientist,Barclays,Glasgow,Brak danych,Data Scientist. Data Scientist - 90235127. As ...
13,Data Scientist,Williams Lea,United Kingdom,Brak danych,Data Scientist. Williams Lea seeks a Data Scie...
14,DATA SCIENTIST,Welsh Water,United Kingdom,Brak danych,"As a Data Scientist, you will contribute subst..."
15,Apprentice Data Scientist - 10010685,East of England Co-operative Society,West Yorkshire,Brak danych,We are recruiting for an Apprentice Data Scien...
16,Data Scientist,GoCompare,London,Brak danych,GoCo has a sophisticated Azure Cloud-based gro...
17,Junior Data Scientist,Veea Group,Birkenhead,Brak danych,"Rethinking and optimising the ETL logic, refin..."
18,Graduate / Junior Data Scientist,NetRev,Glasgow,Brak danych,"Rethinking and optimising the ETL logic, refin..."
19,Data Scientist - Wind Energy,Indeed Prime,Norwich,Brak danych,Indeed Prime is a free service that connects q...
20,Data Scientist at Oxford AI startup,Williams Lea,Manchester,Brak danych,Data Scientist. Williams Lea seeks a Data Scie...
21,Data Scientist,DeepReason.ai,London SE1,Brak danych,Data Science:. You are a motivated data scient...
22,Data Scientist,Oldbaum Services Ltd,Glasgow,Brak danych,"Data analysis, data collection, report writing..."
23,Junior Data Scientist,The University of Manchester,United Kingdom,Brak danych,The role of Data Scientist will involve assess...
24,Apprentice Data Scientist - 10010685,Public Health England,United Kingdom,Brak danych,Data Scientist and Analyst. Public Health Data...
25,Data Scientist,Morgan Stanley,West Yorkshire,Brak danych,Ability to work with data including rapid prot...
26,Junior Data Scientist - LEEDS - CGL3627,REPLY,London,Brak danych,"As a Data Scientist within Alpha Reply, you wi..."
27,Junior Data Analyst,REPLY,Birkenhead,Brak danych,"As a Data Scientist within Alpha Reply, you wi..."
28,Data Scientist,Pro-Quest Resourcing,Glasgow,Brak danych,They are recruiting for a Junior Data Scientis...
29,Development Scientist (Fixed Term 1 & 2 years),Lloyds Banking Group,Norwich,Brak danych,And in joining as a Data Scientist in the Appl...
...,...,...,...,...,...
534,Junior Data Scientist,Micro Focus,London,Brak danych,Data Scientist. Data scientists will be workin...
535,Data Scientist,Williams Lea,England,Brak danych,Data Scientist. Williams Lea seeks a Data Scie...
537,Data Scientist,East of England Co-operative Society,Cheltenham,Brak danych,We are recruiting for an Apprentice Data Scien...
538,Data Scientist - Financial Crime,Williams Lea,United Kingdom,Brak danych,Data Scientist. Williams Lea seeks a Data Scie...
539,Statistical Genomics Scientist,"change, grow, live",Glasgow G51,Brak danych,We are expanding our information team with the...
540,Data Scientist,Ubisoft,Exeter,Brak danych,Data visualisation:. Undertake data analysis t...
541,Data Scientist,Lloyds UK,Southampton,Brak danych,Trouble-shoot data anomalies. Data modelling s...
542,Epidemiological Scientist / Epidemiological Sc...,Quotient Limited,United Kingdom,Brak danych,Ability to analyse and interpret complex data ...
543,Data Scientist,PRA Health Sciences,Manchester,Brak danych,Clinical Data Scientist. The Clinical Data Sci...
544,Artificial Intelligence Research Scientist,Mimecast,London,Brak danych,Junior Data Scientist – Mimecast CityPoint Lon...
545,Clinical Data Manager,Deutsche Bank,England,Brak danych,Risk Data Scientist. Working on Data Science i...
546,Data Scientist (predictive maintenance),Virgin Holidays,United Kingdom,Brak danych,Do you get excited about data sets? Like to ma...
547,Coastal Process Scientist (6 week placement) -...,Veea Group,Cheltenham,Brak danych,"Rethinking and optimising the ETL logic, refin..."
549,DATA SCIENTIST,NetRev,Glasgow G51,Brak danych,"Rethinking and optimising the ETL logic, refin..."
550,Data Scientist,Welsh Water,Exeter,Brak danych,"As a Data Scientist, you will contribute subst..."
551,Data Scientist,Oldbaum Services Ltd,Southampton,Brak danych,"Data analysis, data collection, report writing..."
553,Apprentice Data Scientist - 10010685,Micro Focus,Manchester,Brak danych,Data Scientist. Data scientists will be workin...
555,Data Scientist,Veea Group,England,Brak danych,"Rethinking and optimising the ETL logic, refin..."
558,"Scientist, Cell Line Development","change, grow, live",United Kingdom,Brak danych,We are expanding our information team with the...
559,Machine Learning Engineer / Data Scientist,Ubisoft,Glasgow G51,Brak danych,Data visualisation:. Undertake data analysis t...
560,Assay Development Scientist,Lloyds UK,Exeter,Brak danych,Trouble-shoot data anomalies. Data modelling s...
561,Formulation Scientist,Quotient Limited,Southampton,Brak danych,Ability to analyse and interpret complex data ...
562,Data Scientist - [39 Hours],PRA Health Sciences,United Kingdom,Brak danych,Clinical Data Scientist. The Clinical Data Sci...
563,Scientist,Mimecast,Manchester,Brak danych,Junior Data Scientist – Mimecast CityPoint Lon...
564,Senior Data Scientist,Deutsche Bank,London,Brak danych,Risk Data Scientist. Working on Data Science i...
565,Senior Data Scientist,Virgin Holidays,England,Brak danych,Do you get excited about data sets? Like to ma...
566,Data Analyst / Data Scientist - Mentor,Veea Group,United Kingdom,Brak danych,"Rethinking and optimising the ETL logic, refin..."
567,Data Scientist,GoCompare,Cheltenham,Brak danych,GoCo has a sophisticated Azure Cloud-based gro...
568,Junior Data Scientist,NetRev,United Kingdom,Brak danych,"Rethinking and optimising the ETL logic, refin..."
569,Data Scientist,Welsh Water,Glasgow G51,Brak danych,"As a Data Scientist, you will contribute subst..."

In [4]:
# Zapisywanie do pliku CSV
sample_df.to_csv('C:\Python Scripts\CodersCrew\indeed_job.csv', encoding='utf-8')